<!DOCTYPE html>
<html
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
	<head>
	
		<meta charset="UTF-8" />
	
		<link href="../../css/signin.css" rel="stylesheet" />
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"/>
		
		<title>Login</title>
	
	</head>
	
	<body class="text-center">
		
		<form  action="/login" method="post" class="form-signin">
	      
	      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"/>
	      <h1 class="h3 mb-3 font-weight-normal">LOGIN</h1>
	      
	      <label for="username" class="sr-only">Email address</label>
	      <input type="text" id="username" name="username" class="form-control" placeholder="Login" required autofocus/>
	      
	      <label for="password" class="sr-only">Password</label>
	      <input type="password" id="password" name="password" class="form-control" placeholder="Senha" required/>
	      
	      <div class="checkbox mb-3">
	        <label>
	          <input type="checkbox" value="remember-me"> Remember me
	        </label>
	      </div>
	      
	      <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
	      
	      <p class="mt-5 mb-3 text-muted">&copy; 2018</p>
	      
	      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	      
	    </form>
		
	</body>
</html>